input{
    border-radius:100px;
}
body {
      margin: 0;
    }

    .menu {
      position: fixed;
      top: 80px;
      left: 20px;
      transform: translateY(-50%);
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .menu a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #333;
      margin-bottom: 10px;
    }

    .menu a:hover,
    .menu a.active { /* Стиль для выбранного пункта */
      background-color: #eee;
      font-weight: bold;
    }



.r{
    
    display: inline-block;
    padding: 0px;
   
    margin-top: 150px;
    
}

h1{

    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: -100px
}
.vv{
    display: inline-block;
    margin-left: 300px;
    text-align:center;
    border:2px solid #5C5361;
    border-radius: 40px;
    padding: 80px 200px;
    background-color: #D9D3DC;
}
.btn{
    margin-top: 40px;
    margin-left: -80px;
    margin-bottom: 20px;
}
.c{
   margin-top: -60px;
   margin-bottom: 10px;
}
label{
    margin-top: -500px;
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
    border:2px solid #5C5361;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

